---
import Layout from "../layouts/default.astro"
---
<Layout 
  title="Get in Touch - Oliviero Taleghani" 
  description="Want to talk about a project or just connect? Here's how to reach me. I'm always happy to hear about new ideas or chat about technology."
>
  <h1>Get in touch</h1>
  <hr>
  <p>Whether you have a project in mind, a question, or just want to talk about technology, I'm always open to connecting. The best way to reach me is by email.</p>
  <p><a href="mailto:o.taleghani@talesign.com">o.taleghani@talesign.com</a></p>
  <p>You can also find me on <a class="tech" href="https://www.linkedin.com/in/otaleghani" target="_blank"><i class="devicon-linkedin-plain"></i> LinkedIn</a> and <a class="tech" href="https://github.com/otaleghani" target="_blank"><i class="devicon-github-original"></i> GitHub</a>.</p>
</Layout>
